<div class="row justify-content-center">
  <div class="col-xs-12 col-lg-6">
    <h2>
    	Vos livres
    	<span class="float-right">
    		<button class="btn btn-primary" (click)="onNewBook()">Nouveau livre</button>
    	</span>
    </h2>
    <div class="list-group">
      <button
        class="list-group-item"
        *ngFor="let book of books; let i = index"
        (click)="onViewBook(i)">
        <h3 class="list-group-item-heading text-center">
          {{ book.title }}
          <button class="btn btn-default pull-right" (click)="onDeleteBook(book)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <p class="list-group-item-text text-center">{{ book.author }}</p>
      </button>
    </div>
  </div>
</div>