<div *ngIf="party">
    <div class="progress" *ngIf="nextTurnCounter" style="border-radius:0px;position:absolute;width:100%;left:0px">
        <div 
            [ngClass]="{ 
                'bg-primary' : (triggerNextTurnPercentage < 50), 
                'bg-warning' : (triggerNextTurnPercentage > 50 && triggerNextTurnPercentage < 85 ), 
                'bg-danger'  : (triggerNextTurnPercentage >= 85)
            }"
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [ngStyle]="{width: (100 - ((triggerNextTurnCounter+1)*5)+'%')}"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100">
            
        </div>
    </div>
    <br>
    <div class="row justify-content-center" *ngIf="counterLaunched">
        Les cartes seront cachées dans {{ hiddenCardsCounter+1 }} secondes
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-10">
            <h2 class="text-center">
                Partie {{ party.code }} en cours
            </h2>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="party.ended && ((party.players.length - party.votes.length) != 0)">
        <div class="col-lg-10 col-sm-10">
            <h2 class="text-center">
                Votes restants : {{ party.players.length - party.votes.length }}
            </h2>
        </div>
    </div>
    <div *ngIf="!mostVoted">
        <div class="row justify-content-center">
            <div *ngFor="let player of party.players" class="text-center justify-content-center">
                <span class="text-center" *ngIf="player.id_firebase == user">
                    Vous êtes <strong>{{ player.beginning_card.name }}</strong>
                    <br>
                    {{ player.beginning_card.help }}
                </span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-10">
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-sm-2" *ngFor="let player of party.players">
                        <p class="text-center font-weight-bold mb-1" *ngIf="player.id_firebase != user">{{ player.pseudo }}</p>
                        <p class="text-center font-weight-bold mb-1" *ngIf="player.id_firebase == user">Vous</p>
                        <div>
                            <img 
                                src="https://files.eplp.fr/lgpun/cards/dos.png" 
                                class="w-100 card" 
                                [ngClass]="{'cardHover': (canActivateCards && player.id_firebase != user)}"  
                                *ngIf="(player.id_firebase != user || party.cardsHidden) && firstCardToReveal != player.id && doppelReveal != player.id" 
                                (click)="(canActivateCards && player.id_firebase != user) && onSelectCard(player.id,'player')">
                            <img
                                [src]="player.beginning_card.photo"
                                class="w-100 card" 
                                *ngIf="player.id_firebase == user && !party.cardsHidden">
                            <img
                                [src]="player.ending_card.photo"
                                class="w-100 card" 
                                *ngIf="firstCardToReveal == player.id || doppelReveal == player.id">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardsNotUsed mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h2 class="text-center">Cartes non utilisées</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row justify-content-center">
                        <div class="col-lg-2" *ngFor="let notUsedCard of party.notUsedCards">
                            <div>
                                <img 
                                    src="https://files.eplp.fr/lgpun/cards/dos.png" 
                                    class="w-100 card" [ngClass]="{'cardHover': canActivateNotUsedCards}" 
                                    (click)="canActivateNotUsedCards && onSelectCard(notUsedCard.id,'notUsed')"
                                    *ngIf="firstCardToReveal != notUsedCard.id && secondCardToReveal != notUsedCard.id">
                                <img 
                                    [src]="notUsedCard.photo" 
                                    class="w-100 card" [ngClass]="{'cardHover': canActivateNotUsedCards}" 
                                    *ngIf="firstCardToReveal == notUsedCard.id || secondCardToReveal == notUsedCard.id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="row justify-content-center" *ngIf="mostVoted">
        <div class="col-lg-10 text-center">
            <p>{{ mostVoted.pseudo }} a été le plus voté</p>
            <p>Son rôle était {{ mostVoted.ending_card.name }}</p>
            <p>
                <button class="btn btn-success mr-2" (click)="relaunchParty()" *ngIf="party.creator.id_firebase == user">Relancer la partie</button>
                <button class="btn btn-danger">Quitter la partie</button>
            </p>
        </div>
    </div>
    <div style="position:absolute;bottom:0;left:5px" *ngIf="party.turn">
        <p style="font-size:20px;padding:0px;margin:0px">
            Tour en cours : <strong>{{ party.turn.beginning_card.name }}</strong> ({{ party.turnEnd | date:'ss'}} s restantes)
        </p>
    </div>
    <div style="position:absolute;bottom:0;left:5px" *ngIf="party.fakeTurn && !party.turn">
        <p style="font-size:20px;padding:0px;margin:0px">
            Tour en cours : <strong>{{ party.fakeTurn.name }}</strong> ({{ party.turnEnd | date:'ss'}} s restantes)
        </p>
    </div>
    <div style="position:absolute;bottom:0;right:5px">
        <input type="range" min="0" max="1" [(ngModel)]="volume" step="0.01" id="volume" (input)="onChangeVolume()">
    </div>
</div>
<div class="component-loader" *ngIf="!party">
	<div>
		Chargement de la partie
	</div>
	<div>
		<i class="fas fa-circle-notch fa-spin"></i>
	</div>
</div>
