/* You can add global styles to this file, and also import other style files */

.component-loader{
    font-size: 50px;
    color: gray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}