<div class="row justify-content-center">
  <div class="col-sm-8 col-lg-6 col-sm-offset-2">
    <h2>Rejoindre une partie</h2>
    <form [formGroup]="joinPartyForm" (ngSubmit)="onJoinParty()">
      <div class="form-group">
        <label for="partyCode">Code de la partie</label>
        <input type="text" id="partyCode" class="form-control" formControlName="partyCode">
      </div>
      <button class="btn btn-success" [disabled]="joinPartyForm.invalid"
              type="submit">Rejoindre
      </button>

    </form>
  </div>
</div>
<div class="row justify-content-center mt-4">
  <div class="col-sm-8 col-lg-6 col-sm-offset-2">
    <h2>Parties en cours</h2>
    <div class="component-loader" *ngIf="!parties">
      <div>
        <i class="fas fa-circle-notch fa-spin"></i>
      </div>
    </div>
    <ul class="list-group" *ngIf="parties.length > 0 && parties">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let party of parties">
        {{ party.code }}
        <span class="badge badge-primary badge-pill" *ngIf="party.players && party.players.length != party.cards.length-3">
          {{ party.players.length }}/{{ party.cards.length-3 }}
        </span>
        <span class="badge badge-danger badge-pill" *ngIf="party.players && party.players.length == party.cards.length-3">
          {{ party.players.length }}/{{ party.cards.length-3 }}
        </span>
        <span class="float-right">
          <a (click)="joinParty(party.code)" class="btn btn-success" [disabled]="party.players.length == party.cards.length-3">Rejoindre la partie</a>
        </span>
      </li>
    </ul>
    <p *ngIf="parties.length == 0">Pas de parties en cours</p>
  </div>
</div>