<div class="row d-flex" style="flex-direction: column;align-items:center; ">
	<div class="d-flex">
		<h1>Bienvenue sur le LGPUN version EPLP</h1>
	</div>
	<div class="d-flex justify-content-center">
		<img src="https://files.eplp.fr/lgpun/cards/dos.png" width="60%" style="border-radius:5px">
	</div>
	<div class="d-flex mt-4">
		<a routerLink="party/create" class="btn btn-primary mr-4">Créer une partie</a>
		<a routerLink="party/join" class="btn btn-success">Rejoindre une partie</a>
	</div>
</div>