<div class="row d-flex" style="flex-direction: column;align-items:center; ">
	<div class="d-flex">
		<h1>Bienvenue sur le LGPUN version EPLP</h1>
	</div>
	<div class="d-flex justify-content-center">
		<img src="https://firebasestorage.googleapis.com/v0/b/lgpun-20cfa.appspot.com/o/roles%2Fdos.jpg?alt=media&token=6ca2284a-2638-42da-992f-4564e49f2b39" width="60%" style="border-radius:5px">
	</div>
	<div class="d-flex mt-4">
		<a routerLink="party/create" class="btn btn-primary mr-4">Créer une partie</a>
		<a routerLink="party/join" class="btn btn-success">Rejoindre une partie</a>
	</div>
</div>